@import "./vars";

@import "./app/main";
@import "./home/main";
@import "./post/main";

body {
  background: white;
  color: #404040;
  margin: 0;

  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: normal;
}

a {
  &:link,
  &:visited {
    color: $action-color;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $hover-color;
  }
}

::selection {
  background: #79ffe1;
}
