#nav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 80px;
  & > a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #808080;
    &:hover,
    &:active {
      color: #b0b0b0;
    }
    &:not(:last-child) {
      margin-right: 2rem;
    }
    &.active {
      color: #b0b0b0 !important;
    }
  }
}
