.post-content {
  width: 100%;
  line-height: 1.7em;
  text-align: left;

  &.centered {
    text-align: center;
  }

  & > p,
  & > ul,
  & > ol {
    box-sizing: border-box;
    width: 100%;
    max-width: #{$text-width + 2 * $side-padding};
    padding: 0 $side-padding;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  & > ul,
  & > ol {
    padding-left: #{$side-padding + 20px};
  }

  & > .img {
    box-sizing: border-box;
    width: 100%;
    max-width: #{$img-width + 2 * $side-padding};
    padding: 0 $side-padding;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    & > img {
      width: 100%;
    }
  }
}
