.post-item {
  & > .title {
    font-size: 22px;
    margin-bottom: 1rem;
    & > a {
      color: #202020;
    }
  }
  & > .desc {
    margin: 0.8rem auto 0;
    max-width: $text-width;
    padding: 0 $side-padding;
    font-size: 18px;
    line-height: 1.7em;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}
